/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––– */
/*   B U T T O N S   */
/* ––––––––––––––––– */


button.btnHole:hover, 
label.btnKey:hover,
div.shade:hover,
a.surface:hover {
	cursor: pointer;
}

button.btnHole {
	display: flex;
	min-width: 82px;
	height: 45px;
	border-radius: 8px;
	background-color: #1d1b19;
	/* 1px \/ 3px blur */
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 1);
}

button.btnHole:hover > label.btnKey {
	/*background-color: var(--pinkDFN);*/
	/*box-shadow: 0px 5px 3px 0px rgba(0,0,0,.8);*/
	/*transition: box-shadow .5s;*/

	/*box-shadow: 0px 5px 3px 0px var(--pinkDFN);*/
	/*transition: box-shadow .5s;*/
}
button.btnHole:hover > label.btnKey > div.shade > a.surface {
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,.5);
	text-shadow: 1px 1px var(--mintDFN);
	transition: text-shadow .5s, box-shadow .5s;

	/*background-color: var(--mintDFN);*/
}



button.btnHole:active {
	margin-top: 3px;
	height: 42px;
}
button.btnHole:active > label.btnKey > div.shade {
	transform: translateY(2px);
	/*box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 1);*/
	/*transition: box-shadow .5s;*/
}
button.btnHole:active > label.btnKey > div.shade > a.surface {
	margin-top: -3px;
	/*box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, .8);*/
}


button.btnHole > label > div > a:after {
	content: attr(target);
	font: normal .8rem 'Courier';
	padding: 0 8px;
}



button.btnHole > label.btnKey {
	display: flex;
	margin: 0 auto;
	border-radius: 6px;
	min-width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: #B2B6B9;

	border-color: #7b7e7f;
	border-style: solid;
	border-width: 0px 1px 1px 1px;

	transition: background-color 1s;
}
button.btnHole > label.btnKey > div.shade {
	display: flex;
	margin: 1px auto auto;
	border-radius: 5px;
	min-width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: #474b4f;
	box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, .6);
	/*transition: box-shadow .5s;*/
}
button.btnHole > label.btnKey > div.shade > a.surface {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto 2px auto;
	border-radius: 5px;
	min-width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: 1px solid #6a6f72;
	background-color: #ebeff2;
	transition: background-color 1s, text-shadow 1s, box-shadow 1s;
}

input[id='home-Switch']:checked ~ #desk label[for='home-Switch'].btnKey,
input[id='wtf-Switch']:checked ~ #desk label[for='wtf-Switch'].btnKey,
input[id='rm-Switch']:checked ~ #desk label[for='rm-Switch'].btnKey,
input[id='faqs-Switch']:checked ~ #desk label[for='faqs-Switch'].btnKey {
	background-color: var(--pinkDFN);
}
input[id='home-Switch']:checked ~ #desk a[target='home'].surface,
input[id='wtf-Switch']:checked ~ #desk a[target='wtf'].surface,
input[id='rm-Switch']:checked ~ #desk a[target='roadmap'].surface,
input[id='faqs-Switch']:checked ~ #desk a[target='faqs'].surface {
	background-color: var(--retroYARR);
	text-shadow: 1px 1px var(--mintDFN);
	transition: background-color 1s, text-shadow 1s, box-shadow 1s;

}

