/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––– */
/*      D E S K      */
/* ––––––––––––––––– */


a.icon#tt,
a.icon#dc {
	cursor: pointer;
	
	animation: delayedShowUp 2s ease-in-out forwards;
	transition: background-image 1s ease;
}
a.icon:hover {
	transition: background-image .3s ease;
}

#desk {
	position: fixed;
	width: 100%;
	min-height: 80px;
	bottom: 0;
	animation: keyboardShowUp .8s ease-in-out;
	z-index: 1;
}
#desk > #dock {
	display: flex;
	justify-content: center;
}

#dock > div, #dock > nav {
	display: flex;
}
#dock > nav#keyboard {
	flex-grow: 2;
	column-gap: 20px;
	justify-content: center;
}
#dock > div#leftPad,
#dock > div#rightPad {
	display: flex;
	align-items: center;
	width: calc(21px + 20px + 24px);
	column-gap: 20px;
	padding: 0 var(--initPadding);
}
#dock > div#rightPad {
	justify-content: flex-end;
}
#dock > div#leftPad > a.icon,
#dock > div#rightPad > a.icon {	
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon#tt {
	background-image: var(--tt);
	width: 21px;
}
.icon#tt:hover {
	background-image: var(--ttPink);
} 

.icon#dc {
	background-image: var(--dc);
	width: 24px;
}
.icon#dc:hover {
	background-image: var(--dcPink);
}



