/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––– */
/*       F A Q       */
/*     S C E N E     */
/* ––––––––––––––––– */


label.qLine:hover,
label.aLine:hover {
	cursor: pointer;
}

#scene > #faqs {
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	/*height: 100%;*/
	width: 100%;
	/*width: calc(100% - 2* var(--initPadding));*/
	/*background-color: red;*/
	/*background: rgba(142, 25, 13, 0.1);*/
}

#faqs > div#roll {
	display: flex;
	flex-direction: column;
	/*min-height: 100%;*/
	width: 34vw;
	gap: 34px;
	/*background-color: lightskyblue;*/
}

input[name='faq']#q00-Switch:not(:checked) ~ div#roll > div.QA > label[for='q00-Answer'],
input[name='faq']#q01-Switch:not(:checked) ~ div#roll > div.QA > label[for='q01-Answer'],
input[name='faq']#q02-Switch:not(:checked) ~ div#roll > div.QA > label[for='q02-Answer'],
input[name='faq']#q03-Switch:not(:checked) ~ div#roll > div.QA > label[for='q03-Answer'],
input[name='faq']#q04-Switch:not(:checked) ~ div#roll > div.QA > label[for='q04-Answer'],
input[name='faq']#q05-Switch:not(:checked) ~ div#roll > div.QA > label[for='q05-Answer'],
input[name='faq']#q06-Switch:not(:checked) ~ div#roll > div.QA > label[for='q06-Answer'],
input[name='faq']#q07-Switch:not(:checked) ~ div#roll > div.QA > label[for='q07-Answer'],
input[name='faq']#q08-Switch:not(:checked) ~ div#roll > div.QA > label[for='q08-Answer'],
input[name='faq']#q09-Switch:not(:checked) ~ div#roll > div.QA > label[for='q09-Answer'],
input[name='faq']#q10-Switch:not(:checked) ~ div#roll > div.QA > label[for='q10-Answer'],
input[name='faq']#q00-Switch:checked ~ #roll > .QA > .qLine[for='q00-Switch'],
input[name='faq']#q01-Switch:checked ~ #roll > .QA > .qLine[for='q01-Switch'],
input[name='faq']#q02-Switch:checked ~ #roll > .QA > .qLine[for='q02-Switch'],
input[name='faq']#q03-Switch:checked ~ #roll > .QA > .qLine[for='q03-Switch'],
input[name='faq']#q04-Switch:checked ~ #roll > .QA > .qLine[for='q04-Switch'],
input[name='faq']#q05-Switch:checked ~ #roll > .QA > .qLine[for='q05-Switch'],
input[name='faq']#q06-Switch:checked ~ #roll > .QA > .qLine[for='q06-Switch'],
input[name='faq']#q07-Switch:checked ~ #roll > .QA > .qLine[for='q07-Switch'],
input[name='faq']#q08-Switch:checked ~ #roll > .QA > .qLine[for='q08-Switch'],
input[name='faq']#q09-Switch:checked ~ #roll > .QA > .qLine[for='q09-Switch'],
input[name='faq']#q10-Switch:checked ~ #roll > .QA > .qLine[for='q10-Switch'] {
	display: none;
}


input[name='faq']:checked ~ #roll > .QA > label.qLine.active:before {
	text-shadow: 1px 1px var(--pinkDFN);
}
input[name='faq']:checked ~ #roll > .QA > label.qLine.active {
	background-image: var(--minusMint);
}
input[name='faq']:checked ~ #roll > .QA > label.qLine.active,
label.qLine:hover {
	font: normal 18px / 22px 'Courier';
	text-shadow: 1px 1px var(--mintDFN);
	transition: font .5s ease, text-shadow .5s ease, background-image .5s ease;
}
label.qLine:hover {
	background-image: var(--plusMint);
}
label.qLine:hover:before {
	text-shadow: 1px 1px var(--pinkDFN);
	transition: text-shadow .5s ease;
}




.QA {}

label.qLine:before,
label.aLine:before {
	font: normal 15px 'Courier';
	min-width: 55px;
	max-width: 55px;
	margin-right: 13px;
	/*background-color: aqua;*/
}

/*     Q U E S T I O N     */
label.qLine:before {
	content: '[ Q ]';
	margin-top: -3px;
	transition: text-shadow 1s ease;
}
label.qLine {
	font: normal 15px / 22px 'Courier';
	display: flex;
	width: 100%;
	min-height: 55px;
	align-items: center;
	
	background-image: var(--plus);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: auto 32px;

	transition: font 1s ease, background-image 1s ease;

	/*background-color: lightskyblue;*/
}
label.qLine > span {
	margin-right: 55px;
}

/*       A N S W E R      */
label.aLine:before {
	content: '[ A ]';
	padding-top: 4px;
	text-shadow: 1px 1px var(--mintDFN);
}
label.aLine {
	display: flex;
	font: normal 13px / 32px 'Courier new';
	animation: answerMe .5s ease-out;
}
label.aLine:after {
	content: '';
	min-width: 32px;
	max-width: 32px;
	margin-left: 13px;
	/*background-color: blue;*/
}


















