/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––– */
/*      H O M E      */
/*     S C E N E     */
/* ––––––––––––––––– */


#scene > #home {
	display: flex;
	

	justify-content: center;
	align-items: center;

	
	width: calc(100% - 2* var(--initPadding));
	height: calc(100% - 115px);

	/*background: rgba(142, 25, 13, 0.1);*/
	/*background-color: var(--mintDFN)*/
}
#scene > #home > #levitate {
	/*background-color: var(--mintDFN);*/
	display: flex;
	align-items: center;
	flex-direction: column;	
	align-self: flex-end;
}
#levitate > #DFN {
	height: 50vh;
	aspect-ratio: 1 / 1;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    background-image: var(--DFN);
	animation: levitator 5s ease-in-out infinite;

	pointer-events: none;
}
#levitate > #shadow {
	margin-top: 55px;
	border-radius: 50%;
  	animation: hisShadow 5s ease-in-out infinite alternate ;	
}







#secret {
	z-index: 1000 !important;
	background-color: aqua;
	min-width: 100%;
	min-height: 100%;
}







