/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* –––––––––––––––––––––––––– */
/*      K E Y F R A M E S     */
/* –––––––––––––––––––––––––– */


@keyframes showUp {
	from {opacity: 0}
	to {opacity: 1}
}


@keyframes showDown {
	from {opacity: 1}
	to {opacity: 0}
}

@keyframes showBack {
	to {
		opacity: 1;
	}
}


/* PFP */
@keyframes dashoffset-to1k {
	to {
		stroke-dashoffset: 1000;
	}
}

/* roader */
@keyframes dashoffset-toZero {
	to {
		stroke-dashoffset: 0;
	}
}


/* faq answer */
@keyframes answerMe {
	0% {
		opacity: 0;
		margin-top: -55px;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes answerMeMobi {
	0% {
		opacity: 0;
		margin-top: -55px;
	}
	100% {
		margin-top: 13px;
		opacity: 1;
	}
}


/* desk */
@keyframes keyboardShowUp {
	0% {
		top: calc(100vh + 200px);
	}
	50% {
		top: calc(100vh - 100px);
	}
	100% {
		top: calc(100vh - 80px);
	}
}

@keyframes delayedShowUp {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* loaders */

@keyframes levitator {
  0% {
    /*background-image: var(--DFN);*/
    transform: translatey(0px);
  }
  50% {
    /*background-image: var(--DeFinney);*/
    transform: translatey(-80px);
  }
  100% {
    /*background-image: var(--DFN);*/
    transform: translatey(0px);
  }
}
@keyframes hisShadow {
	0% {
		/*margin-left: 10px;*/
    	width: 150px;
    	height: 34px;
    	background: rgba(0,0,0,.9);
		/*box-shadow:0px 50px 40px rgba(1,0,0,1);*/
	}
	50% {
		/*margin-left: 25px;*/
    	width: 130px;
    	height: 45px;
       	background: rgba(0,0,0,.8);
		/*box-shadow:5px 50px 50px rgba(1,0,0,1);*/
	}
	100% {
		/*margin-left: 10px;*/
    	width: 150px;
    	height: 34px;
       	background: rgba(0,0,0,.9);
		/*box-shadow:0px 50px 40px rgba(1,0,0,1);*/
	}
}





















