/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––––– */
/*      R E S E T      */
/* ––––––––––––––––––– */


html, 
body, 
div, 
p, 
a, 
h1, 
h2, 
h3, 
ul, 
li, 
footer, 
header, 
button, 
input, 
select, 
label, 
strong {
	font-size: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	color: black;
	text-decoration: none;
	list-style-type: none;
	font-weight: normal;
	cursor: default;
}