/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* –––––––––––––––––– */
/*        R E S       */
/*  O P T I M I Z E R */
/* –––––––––––––––––– */


@media only screen and (min-width: 1000px) {
	#faqs > div#roll {
		min-width: 530px;
	}
}
@media only screen and (max-width: 1440px) {
	#roadmap > #chStream > .chapter {
		min-width: 350px;
	}	
}

@media only screen and (max-width: 1000px) {

	#levitate > #DFN {
		height: calc(100vw - 2* var(--initPadding));
		width: calc(100vw - 2* var(--initPadding));
		/*background-color: blue;*/
		/*height: 100%;*/
	}

	#topMask {
		height: calc(128px + 212px);
		background: linear-gradient(
					to bottom,
					var(--pinkDFN) 212px, 
					transparent
					);
	}

	#botMask {
		height: 340px;
		--mobiBotMask: calc(45px + 45px * var(--mobScale) + 45px);
		background: linear-gradient(
					to top,
					var(--creamDFN) var(--mobiBotMask),  
					transparent
					);
	}

	#scene {
		/*background-attachment: fixed !important;*/
	}

	#scene > #wtf {
		padding: 0;
	}

	#scene > #roadmap {
		padding-top: calc(340px + 45px);
		padding-bottom: 45px;
	}
	input[id='rm-Switch']:checked ~ #botMask {
		height: 340px;
		background: linear-gradient(
					to top,
					var(--creamDFN) var(--mobiBotMask),  
					transparent
					);
	}

	#scene > #faqs {
		/*align-items: flex-start;*/
		padding-top: 385px;
		padding-bottom: 300px;
	}






	label#DeFinney {
		height: 85px; 
		background-size: auto 85px;
	}
	label#whereAmI {
		top: calc(82px  + 33px);
		left: calc(82px  + 33px);
		height: 134px;
		background-size: auto 134px;
	}



	#desk {
		/*background-color: red;*/
		margin-bottom: 45px;
		animation: showUp 1s ease-in-out;
	}
	#desk > #dock > nav {
		
		/*transform: scale(2.3);*/
	}
	
/*	nav#keyboard,
	div#leftPad,
	div#rightPad {
		transform: scale(2);
	}*/

	#dock > nav#keyboard {
		/*min-height: calc(45px * 2.5);*/
		align-items: center;
		column-gap: calc((var(--mobScale) * 2 - 2) * 41px + 30px)
	}
	nav#keyboard > button {
		transform: scale(var(--mobScale));
	}

	#dock > div#leftPad,
	#dock > div#rightPad {
		display: flex;
		align-items: center;
		width: calc(21px + 20px + 24px);
		/*padding: 0 var(--initPadding);*/
	}
	#dock > div#leftPad > a.icon,
	#dock > div#rightPad > a.icon {
		width: calc(41px * var(--mobScale))
		/*background-color: aqua;*/
	}





/*	div#roll {
		width: 80vw
	}*/

	#scene > #wtf {
		/*background: rgba(142, 25, 13, 0.1);*/
	}

	#scene > #wtf > #danceFloor {
		/*margin-top: 4vh;*/
		min-width: 100%;
		/*background: rgba(142, 25, 13, 0.1);*/


		grid-template-columns: 	calc(82px * 1.35) 
								minmax(42px, .5fr) 
								minmax(42px, .5fr) 
								0
								minmax(200px, .5fr)
								0
								minmax(42px, .5fr) 
								minmax(42px, .5fr) 
								calc(82px * 1.35);
		
		grid-template-rows: 	calc(82px * 1.35) 
								minmax(42px, .5fr) 
								minmax(42px, .5fr)
								0
								minmax(200px, .5fr)
								0
								minmax(42px, .5fr) 
								minmax(42px, .5fr) 
								calc(82px * 1.35);

		grid-gap: 2vw;

	}


	#danceFloor > div#REDEEM,
	#danceFloor > div#MINT,
	#danceFloor > div#BUY {
		justify-content: center;
		/*background-color: green;*/
	}
/*	#danceFloor > div#BUY {
		background-color: aqua;
		padding-top: 2px;
	}*/
	#danceFloor > div > button {
		transform: scale(1.35);
	}


/*	#scene > #roadmap {
		width: auto;
		min-height: 100%;
	}*/

	#roadmap > #chStream {
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
		/*height: auto;*/
		/*height: 100%;*/
		/*margin-top: 580px;*/
		/*padding-top: calc(2* var(--initPadding) + 85px + 134px);*/
		/*position: absolute;*/
		/*margin-top: 50%;*/
		/*align-items: flex-start;*/
		
		/*background-color: aqua;*/
		/*background: rgba(142, 25, 13, 0.1);*/
	}


	#progressDFN {
		/*position: fixed;*/
		/*top: 250px;*/
		bottom: calc(45px + var(--mobScale) * 45px + 45px);
		/*background-color: aqua;*/
	}
	polyline#progressBar {
		stroke-width: 21;
	}
	polyline#roaderBar {
		stroke-width: 4;
		stroke-dasharray: 42;
	}

	#roadmap > #chStream > .chapter {
		/*display: flex;*/
		/*flex-direction: column;*/
		/*background-color: blue;*/
		/*height: 100%;*/
		width: 100%;
	}
	.chapter#ch02 > span.botTittle {
		display: none;
	}
	.chapter#ch02 > span.topTittle {
		display: block;
	}
	.chapter#ch02 > span.topTittle > h1 {
		/*background-position: center;*/
	}


	.chapter + .chapter {
		margin-top: 100px;
	}
	.chapter:last-child {
		padding-bottom: 250px;
	}

	.chapter > span > h1 {
		height: 104px;
	}
	.chapter > span > h2 {
		font-size: 55px;
		letter-spacing: 7.3px;
		text-shadow: 4.7px 4.7px var(--mintDFN);
	}
	.current.chapter > span > h2 {
		text-shadow: 4.7px 4.7px var(--pinkDFN);
	}

	.chapter > span > h1 + h2,
	.chapter > span + ul {
		margin-top: 21px;
	}


	.chapter > ul {
		padding-left: calc(2* var(--initPadding));
	}
	.chapter > ul > li {
		padding-left: 21px;
		list-style-image: var(--dot);
		font: normal 55px 'Courier new';
		line-height: 89px;
		/*line-height: 4vh*/
	}
	.chapter > ul > li > span {
		font-size: 34px;
	}
	.chapter > ul > li > span > strong {
		text-shadow: 1.35px 1.35px black;
	}


	.chapter > ul > li.done::after {
		padding-left: 21px;
		content: '✔';
		font: normal 42px 'Courier new';
		text-shadow: 3px 3px var(--mintDFN);
	}
	.chapter > ul > li.done > span > strong {
		text-shadow: 4px 4px var(--mintDFN);
	}








	#faqs > div#roll {
		/*height: 100%;*/
		width: calc(100% - 2 * var(--initPadding));
		gap: 55px;
	}


	input[name='faq']:checked ~ #roll > .QA > label.qLine.active,
	label.qLine:hover {
		font: normal 55px / 69px 'Courier';
	}


	label.qLine:before,
	label.aLine:before {
		font: normal 34px 'Courier';
		min-width: 106px;
		max-width: 106px;
		/*background-color: aqua;*/
	}


	/*     Q U E S T I O N     */
	label.qLine {
		font: normal 34px / 55px 'Courier';
		background-size: auto 55px;
	}
	label.qLine > span {
		margin-right: calc(55px + var(--initPadding));
		/*background-color: orange;*/
	}

	/*       A N S W E R      */
	label.aLine {
		font: normal 34px / 55px 'Courier new';
		animation: answerMeMobi .5s ease-out forwards; 
	}
	label.aLine:after {
		min-width: 55px;
		max-width: 55px;
	}






}











	








