/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––– */
/*   R O A D M A P   */
/*     S C E N E     */
/* ––––––––––––––––– */


#scene > #roadmap {
	display: flex;

	width: 100%;
	justify-content: center;
	/*align-items: center;*/

/*	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;*/

	/*background: rgba(142, 25, 13, 0.1);*/
}

#roadmap > #chStream {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: calc(100% - 2* var(--initPadding));
	/*background: rgba(142, 25, 13, 0.1);*/
}

#roadmap > #chStream >.chapter {
	width: 25%;
	font-family: 'Courier New', 'Courier', monospace;
}
.chapter#ch02 > span.topTittle {
	display: none;
}


.chapter#ch01 > span > h1 {
	background-image: var(--ch01);
}

.chapter#ch02 > span > h1 {
	background-image: var(--ch02-OFF);
}

.chapter#ch03 > span > h1 {
	background-image: var(--ch03-OFF);
}

.chapter#ch04 > span > h1 {
	background-image: var(--ch04-OFF);
}
.chapter > span > h1 {
	height: 52px;
	width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.chapter > span > h2 {
	font-size: 21px;
	font-weight: bold;

	text-transform: uppercase;
	letter-spacing: 2.8px;
	text-shadow: 1.8px 1.8px var(--mintDFN);
}
.current.chapter > span > h2 {
	text-shadow: 1.8px 1.8px var(--pinkDFN);
}




.chapter > span > h1 + h2,
.chapter > span + ul,
.chapter > ul + span > h1 {
	margin-top: 13px;
}


.chapter > ul {
	padding-left: calc(18px + var(--initPadding));
}
.chapter > ul > li {
	font-size: 24px;
	list-style-image: var(--dot);
	padding-left: 13px;
	line-height: 34px;
}
.chapter > ul > li > span {
	font-size: 12.5px;
}
.chapter > ul > li > span > strong {
	color: var(--pinkDFN);
	text-shadow: .5px .5px black;
}

.chapter > ul > li.done {
	list-style-image: var(--dotPink);
}
.chapter > ul > li.done::after {
	content: '✔';
	font-size: 21px;
	padding-left: 13px;
	text-shadow: 1.5px 1.5px var(--mintDFN);
}

.chapter > ul > li.done > span > strong {
	/*font: bold 12.5px 'Courier new';*/
/*	color: var(--mintDFN);
	text-shadow: 1.5px 1.5px black;*/

	font-weight: bold;
	color: black;
	text-shadow: 1.5px 1.5px var(--mintDFN);
}


.chapter li:hover {
	list-style-image: var(--dotPink);
}
.chapter li:hover > span > strong {
	color: var(--pinkDFN);
	text-shadow: .5px .5px var(--pinkDFN);
}




/* ––––––––––––––––– */
/*  P R O G R E S S  */
/* ––––––––––––––––– */


input[id='rm-Switch']:not(:checked) ~ #progressDFN {
	display: none;
}

#progressDFN {
	position: fixed;
	bottom: calc(80px + 25px);
	aspect-ratio: 1920 / 155;
	width: 100%;
	/*background-color: var(--creamDFN);*/
	z-index: 1;
}

polyline#roaderBar,
circle#yieldPoint-in,
path#yieldPoint-out {
	opacity: 0;
}
polyline#progressBar,
polyline#roaderBar {
	fill: none;
	stroke-dashoffset: 1008;
}
polyline#progressBar {
	stroke-width: 13;
	stroke-dasharray: 1000;
	animation: dashoffset-toZero 3s ease-in-out both;
}
polyline#roaderBar {
	stroke-width: 2;
	stroke-dasharray: 21;
	animation: showUp 3s 1s ease-in-out forwards, dashoffset-toZero 8s linear both infinite;
}
circle#yieldPoint-in {
	fill: var(--creamDFN);
	animation: showUp 1s 1s ease-in-out forwards
}
path#yieldPoint-out {
	animation: showUp 3s .5s ease-in-out forwards
}







