/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/


/* ––––––––––––––––– */
/*     S C E N E     */
/* ––––––––––––––––– */


#bg {
	position: fixed;
	height: 100vh;
  	width: 100vw;
	background: linear-gradient(
				to top,
				var(--creamDFN), 100px,  
				var(--creamDFN),
				var(--pinkDFN)
				);
	background-repeat: no-repeat;
	background-position: center;
}

#scene {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	width: 100%;
	/*background-color: var(--creamDFN);*/
}

input[name='scene']#home-Switch:not(:checked) ~ #scene > #home,
input[name='scene']#wtf-Switch:not(:checked) ~ #scene > #wtf, 
input[name='scene']#rm-Switch:not(:checked) ~ #scene > #roadmap,
input[name='scene']#faqs-Switch:not(:checked) ~ #scene > #faqs {
	display: none;
}

input[name='scene']#home-Switch:checked ~ #scene > #home,
input[name='scene']#wtf-Switch:checked ~ #scene > #wtf, 
input[name='scene']#rm-Switch:checked ~ #scene > #roadmap,
input[name='scene']#faqs-Switch:checked ~ #scene > #faqs {
	animation: .5s ease-in showUp forwards;
}



/* ––––––––––––––––– */
/*       T O P       */
/* ––––––––––––––––– */

label#DeFinney {
	cursor: pointer;

	top: var(--initPadding);
	left: var(--initPadding);

	height: 52px;
	aspect-ratio: 615 / 185;

    background-size: auto 52px;
    background-repeat: no-repeat;
    background-image: var(--DeFinney);

	position: fixed;
    z-index: 1;
}
label#whereAmI {
	top: calc(var(--initPadding) + 48px);
	left: calc(var(--initPadding) + 48px);

	height: 85px;

	background-size: auto 85px;
	background-repeat: no-repeat;
	
	position: fixed;
	z-index: 2;
}

input[id='wtf-Switch']:checked ~ label#whereAmI {
	background-image: var(--header-WTF);
	aspect-ratio: 1158 / 640;
}
input[id='rm-Switch']:checked ~ label#whereAmI {
	background-image: var(--header-ROADMAP);
	aspect-ratio: 2855 / 636;
}
input[id='faqs-Switch']:checked ~ label#whereAmI {
	background-image: var(--header-FAQS);
	aspect-ratio: 1505 / 632;
}

#appGate {
	display: none;

	top: var(--initPadding);;
	right: var(--initPadding);

	height: 120px;

	position: fixed;
	z-index: 2;
}
#appGate > button {
	min-width: 112px;
}



/* ––––––––––––––––- */
/*     M A S K S     */
/* –––––––––––––––-– */

#topMask,
#botMask {
	position: fixed;
	min-width: 100%;
	z-index: 0;
}
#topMask {
	top: 0;
	height: 210px;
	background: linear-gradient(
				to bottom,
				var(--pinkDFN), 
				transparent
				);
}
#botMask {
	bottom: 0;
	height: 100px;
	background: linear-gradient(
				to top,
				var(--creamDFN) 80px,  
				transparent
				);
}


/* –––––––––––––––––––––––––––––––––––––-–- */
/*      S C E N E ~ M A S K ~ S E T U P     */
/* –––––––––––––––––––––––––––––––––––––-–- */



/* ~                 W T F                ~ */

#scene > #wtf {
	padding-top: var(--initPadding);
	padding-bottom: calc(80px + var(--initPadding));
}

/*input[id='wtf-Switch']:checked ~ #topMask {
	background: linear-gradient(
				to bottom,
				var(--retroYARR), 
				transparent
				);
}
/*input[id='wtf-Switch']:checked ~ #botMask {
	background: linear-gradient(
				to top,
				var(--pinkDFN),  
				transparent
				);
}*/


/* ~                  R M                 ~ */

#scene > #roadmap {
	padding-top: 210px;
	padding-bottom: 160px;
}

/*input[id='rm-Switch']:checked ~ #topMask {
	background: linear-gradient(
				to bottom,
				var(--mintDFN), 
				transparent
				);
}
input[id='rm-Switch']:checked ~ #botMask {
	height: calc(100vw * 155 / 1920 + 80px + 25px);
	background: linear-gradient(
				to top,
				var(--creamDFN) 105px,  
				transparent
				);
}



/* ~                F A Q S               ~ */

#scene > #faqs {
	padding-top: 210px;
	padding-bottom: calc(80px + var(--initPadding));
}

/*input[id='faqs-Switch']:checked ~ #topMask {
	background: linear-gradient(
				to bottom,
				var(--pinkDFN), 
				transparent
				);
}
/*input[id='faqs-Switch']:checked ~ #botMask {
	height: 100px;
	background: linear-gradient(
				to top,
				var(--creamDFN) 55px,  
				transparent
				);
}*/






