/*
  
  All my life I've been chasing my dreams
  Got You! 

   /$$$$$$$            /$$$$$$$$ /$$                                        
  | $$__  $$          | $$_____/|__/                                        
  | $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
  | $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
  | $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
  | $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
  | $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
  |_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
                                                                   /$$  | $$
                                                                  |  $$$$$$/
  Designed with love, coded with passion                           \______/ 
    
       ________  ___  ___  _______   ___  ___  __    ___  ___     
  b   |\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
  y   \ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
       \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
        \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
          ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
         |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
         \|_________|                                             
                               

   © 2023 DeFinney 

*/

/* ––––––––––––––––––––––– */
/*   T Y P E W R I T E R   */
/* ––––––––––––––––––––––– */


.typed {
  width: 31ch;
  animation: typing 2s steps(23), blink .5s step-end infinite alternate, polish 8s forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes polish {
	to {
		overflow: visible;
		border: none;
	}
}
