/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––– */
/*       W T F       */
/*     S C E N E     */
/* ––––––––––––––––– */


#scene > #wtf {
	display: flex;
	/*align-self: flex-end;*/
	justify-content: center;
	align-items: flex-end;

	width: calc(100% - 2* var(--initPadding));
	/*height: calc(100% - 360px);*/
	/*background: rgba(142, 25, 13, 0.1);*/
}

#scene > #wtf > #danceFloor {
	display: grid;

	grid-template-columns: 	82px 
							minmax(42px, .5fr) 
							minmax(42px, .5fr) 
							1vw 
							minmax(130px, .5fr)
							1vw 
							minmax(42px, .5fr) 
							minmax(42px, .5fr) 
							82px;
	
	grid-template-rows: 	82px 
							minmax(42px, .5fr) 
							minmax(42px, .5fr)
							1vw 
							minmax(130px, .5fr)
							1vw
							minmax(42px, .5fr) 
							minmax(42px, .5fr) 
							82px;

	grid-gap: 1vw;

	aspect-ratio: 1 / 1;
	
	/*background: rgba(0, 0, 0, 0.1);*/
}



#danceFloor div {
	background-repeat: no-repeat;
	background-position: center;
    background-size: contain;

    transition: background-image .6s ease-in-out;
    /*background: rgba(0, 0, 0, 0.1);*/
    /*background-color: lightcoral; opacity: .5;*/
}

#danceFloor > div#cowboy {
	grid-column: 5;
	grid-row: 5;
	aspect-ratio: 1 / 1;
	background-image: var(--cowboy);
	display: flex;
	width: 100%;
	height: 100%;
	/*background-position: 0 calc(100% - 5px);*/
	/*border: 2.5px dashed black;*/
	/*background-color: yellow;*/
}
#danceFloor > div#PFP {
	grid-column: 5;
	grid-row: 5;
}
#danceFloor > div#PFP > svg > #hex {
	fill: none;
	stroke: #1D1D1B;
	stroke-miterlimit: 10;

	stroke-width: 5;
	stroke-dasharray: 21;
	stroke-dashoffset: 0;
	animation: showBack 1s ease-in-out forwards;
}
#danceFloor > div#arrUP {
	grid-column: 5;
	grid-row: 3;
	background-image: var(--arrUP-OFF);
}
#danceFloor > div#arrDOWN {
	grid-column: 5;
	grid-row: 7;
	background-image: var(--arrDOWN-OFF);
}
#danceFloor > div#arrLEFT {
	grid-column: 3;
	grid-row: 5;
	background-image: var(--arrLEFT-OFF);
}
#danceFloor > div#arrRIGHT {
	grid-column: 7;
	grid-row: 5;
	background-image: var(--arrRIGHT-OFF);
}
#danceFloor > div#nft-100DFN {
	grid-column: 2;
	grid-row: 5;
	background-image: var(--nft-100DFN-OFF);
}
#danceFloor > div#ethBar-01 {
	grid-column: 8;
	grid-row: 5;
	background-image: var(--ethBar01-OFF);
}
#danceFloor > div#ethBar-02 {
	grid-column: 5;
	grid-row: 8;
	background-image: var(--ethBar02-OFF);
}

#danceFloor > div.toys {
	display: flex;
	justify-content: center;
}
#danceFloor > div.toys#REDEEM,
#danceFloor > div.toys#MINT {
	align-items: center;
}
#danceFloor > div.toys#REDEEM {
	grid-column: 1;
	grid-row: 5;
	justify-content: right;
}
#danceFloor > div.toys#MINT {
	grid-column: 9;
	grid-row: 5;
	justify-content: left;
}
#danceFloor > div.toys#BUY {
	grid-column: 5;
	grid-row: 9;
	align-items: flex-start;
}

/* --- C O M I C - A C T I O N --- */

#danceFloor > div#ethBar-03,
#danceFloor > div#yieldRide,
#danceFloor > div.comicBubble {
	opacity: 0;
    animation: showDown 1s ease-in-out;
}

#danceFloor > div#ethBar-03 {
	grid-column: 5;
	grid-row: 5;
	background-image: var(--ethBar03-ON);
	z-index: 1;
}

#danceFloor > div.comicBubble,
#danceFloor > div#yieldRide {
	z-index: -1;
}
#danceFloor > div.comicBubble {
	background-image: var(--placeHolder);
}
#danceFloor > div#speechBubble {
	grid-column: 1 / span 5;
	grid-row: 1 / span 5;
}
#danceFloor > div#thinkBubble {
	grid-column: 5 / span 5;
	grid-row: 1 / span 5;
}
#danceFloor > div#yieldRide {
	grid-column: 5 / span 5;
	grid-row: 5 / span 5;
	background-image: var(--yieldRide-ON);

}

/* --- U S I N G - T O Y S --- */
/*     M I N T                 */

input[name='toys']#mint-WTF:checked ~ #arrRIGHT,
.toys#MINT:hover ~ #arrRIGHT {
	background-image: var(--arrRIGHT-ON);
}
input[name='toys']#mint-WTF:checked ~ #ethBar-01,
.toys#MINT:hover ~ #ethBar-01 {
	background-image: var(--ethBar01-ON);
}

/* --- U S I N G - T O Y S --- */
/*     B U Y                   */

input[name='toys']#buy-WTF:checked ~ #arrDOWN,
.toys#BUY:hover ~ #arrDOWN {
	background-image: var(--arrDOWN-ON);
}
input[name='toys']#buy-WTF:checked ~ #ethBar-02,
.toys#BUY:hover ~ #ethBar-02 {
	background-image: var(--ethBar02-ON);
}

/* --- U S I N G - T O Y S --- */
/*     R E D E E M             */

input[name='toys']#redeem-WTF:checked ~ #arrLEFT,
.toys#REDEEM:hover ~ #arrLEFT {
	background-image: var(--arrLEFT-ON);
}
input[name='toys']#redeem-WTF:checked ~ #nft-100DFN,
.toys#REDEEM:hover ~ #nft-100DFN {
	background-image: var(--nft-100DFN-ON);
}

input[name='toys']#redeem-WTF:checked ~ #cowboy {
	background-image: var(--cowboy-OFF);
}
input[name='toys']#redeem-WTF:checked ~ #PFP > svg > #hex {
	animation: showDown 1s ease-in-out forwards;
}
input[name='toys']#redeem-WTF:checked ~ #ethBar-03,
.toys#REDEEM:hover ~ #ethBar-03 {
	animation: showUp 1s ease-in-out forwards;
}
.toys#REDEEM:hover ~ #PFP > svg > #hex,
.toys#REDEEM:hover ~ #yieldRide {
	animation: showDown 1s ease-in-out forwards !important
}
.toys#REDEEM:hover ~ #cowboy {
	background-image: var(--cowboy-OFF) !important;
}

/* --- A R R O W - U P --- */

input[name='toys']:checked ~ #arrUP {
	animation: showDown .5s ease-in-out forwards;
}

input[name='toys']#mint-WTF:not(:checked) ~ #MINT:hover ~ #arrUP,
input[name='toys']#buy-WTF:not(:checked) ~ #BUY:hover ~ #arrUP,
input[name='toys']#redeem-WTF:not(:checked) ~ #REDEEM:hover ~ #arrUP {
	animation: showUp 1s ease-in-out forwards;
}
#MINT:hover ~ #arrUP,
#BUY:hover ~ #arrUP {
	background-image: var(--arrUP-MINT);
}
#REDEEM:hover ~ #arrUP {
	background-image: var(--arrUP-PINK);
}

/* --- P F P - C O N T R O L --- */

input[name='toys']#mint-WTF:checked ~ div#cowboy,
input[name='toys']#buy-WTF:checked ~ div#cowboy, 
.toys#MINT:hover ~ div#cowboy,
.toys#BUY:hover ~ div#cowboy {
	background-image: var(--cowboy-ON);
}

input[name='toys']#redeem-WTF:checked ~ #MINT:hover ~ #cowboy,
input[name='toys']#redeem-WTF:checked ~ #BUY:hover ~ #cowboy {
	background-image: var(--cowboy);
}

input[name='toys']#mint-WTF:checked ~ div#PFP > svg > #hex,
input[name='toys']#buy-WTF:checked ~ div#PFP > svg > #hex {
	/*stroke: var(--pinkDFN);*/
	animation: dashoffset-to1k 8s linear both infinite;
}

input[name='toys']#redeem-WTF:checked ~ #MINT:hover ~ #PFP > svg > #hex,
input[name='toys']#redeem-WTF:checked ~ #BUY:hover ~ #PFP > svg > #hex {
	animation: showUp 1s ease-in-out forwards !important;
}
input[name='toys']#redeem-WTF:not(:checked) ~ #MINT:hover ~ #PFP > svg > #hex,
input[name='toys']#redeem-WTF:not(:checked) ~ #BUY:hover ~ #PFP > svg > #hex {
	animation: showBack 1s ease-in-out forwards, dashoffset-to1k 8s linear both infinite;
}

/* --- B U B B L E S - C O N T R O L --- */

input[name='toys']:checked ~ div.comicBubble {
	animation: showUp 1s ease-in-out forwards !important
}

.toys:hover ~ div#thinkBubble {
	animation: showUp 1s ease-in-out forwards;
}

input[name='toys']#mint-WTF:not(:checked) ~ .toys#MINT:hover ~ div#speechBubble,
input[name='toys']#mint-WTF:not(:checked) ~ .toys#MINT:hover ~ div#actionBubble,
input[name='toys']#buy-WTF:not(:checked) ~ .toys#BUY:hover ~ div#speechBubble,
input[name='toys']#buy-WTF:not(:checked) ~ .toys#BUY:hover ~ div#actionBubble,
input[name='toys']#redeem-WTF:not(:checked) ~ .toys#REDEEM:hover ~ div#speechBubble,
input[name='toys']#redeem-WTF:not(:checked) ~ .toys#REDEEM:hover ~ div#actionBubble {
	animation: showDown .8s ease-in-out forwards !important;
}

input[name='toys']#mint-WTF:checked ~ div#yieldRide,
input[name='toys']#buy-WTF:checked ~ div#yieldRide, 
.toys#MINT:hover ~ div#yieldRide,
.toys#BUY:hover ~ div#yieldRide {
	animation: showUp 1s ease-in-out forwards;
}

input[name='toys']#redeem-WTF:checked ~ #MINT:hover ~ div#yieldRide,
input[name='toys']#redeem-WTF:checked ~ #BUY:hover ~ div#yieldRide {
	background-image: var(--yieldRide-OFF);
}

/* --- T H I N K - B U B B L E --- */

input[name='toys']#redeem-WTF:checked ~ div#thinkBubble {
	background-image: var(--thB-REDEEM);
}
input[name='toys']#mint-WTF:checked ~ div#thinkBubble {
	background-image: var(--thB-MINT);
}
input[name='toys']#buy-WTF:checked ~ div#thinkBubble {
	background-image: var(--thB-BUY);
}

.toys#REDEEM:hover ~ div#thinkBubble {
	background-image: var(--thB-REDEEM) !important;
}
.toys#MINT:hover ~ div#thinkBubble {
	background-image: var(--thB-MINT) !important;
}
.toys#BUY:hover ~ div#thinkBubble {
	background-image: var(--thB-BUY) !important;
}

/* --- S P E E C H - B U B B L E --- */

input[name='toys']#redeem-WTF:checked ~ div#speechBubble {
	background-image: var(--spB-REDEEM);
}
input[name='toys']#mint-WTF:checked ~ div#speechBubble {
	background-image: var(--spB-MINT);
}
input[name='toys']#buy-WTF:checked ~ div#speechBubble {
	background-image: var(--spB-BUY);
}

/* --- A C T I O N - B U B B L E --- */

input[name='toys']#redeem-WTF:checked ~ div#actionBubble {
	grid-column: 5 / span 5;
	grid-row: 5 / span 5;
	background-image: var(--acB-REDEEM);
}
input[name='toys']#mint-WTF:checked ~ div#actionBubble {
	grid-column: 1 / span 5;
	grid-row: 5 / span 5;
	background-image: var(--acB-MINT);
}
input[name='toys']#buy-WTF:checked ~ div#actionBubble {
	grid-column: 1 / span 9;
	grid-row: 1 / span 5;
	background-image: var(--acB-BUY);
}



/* --- Toy Button Mod --- */

.toy {
	transform: scale(.95);
}
button.toy.btnHole {
	margin-top: 3px; 
	height: 42px;	
}
button.toy.btnHole > label.btnKey > div.shade {
	transform: translateY(-1px);
}
button.toy.btnHole > label.btnKey > div.shade > a.surface:after {
	content: '';
}
button.toy.btnHole > label.btnKey > div.shade > a.surface {
	margin-top: -3px;
	box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 1);
}
button.toy.btnHole > label.btnKey > div.shade > a.surface {
	background-color: var(--creamDFN);
	background-repeat: no-repeat;
	background-position: center;
  	background-size: contain;
}
button.toy.btnHole > label.btnKey > div.shade > a[for='redeem-WTF'].surface {
	background-image: var(--txtREDEEM);
}
button.toy.btnHole > label.btnKey > div.shade > a[for='mint-WTF'].surface {
	background-image: var(--txtMINT);
}
button.toy.btnHole > label.btnKey > div.shade > a[for='buy-WTF'].surface {
	background-image: var(--txtBUY);
}


input[name='toys']#redeem-WTF:checked ~ div#REDEEM > button.toy.btnHole > label.btnKey > div.shade,
input[name='toys']#mint-WTF:checked ~ div#MINT > button.toy.btnHole > label.btnKey > div.shade,
input[name='toys']#buy-WTF:checked ~ div#BUY > button.toy.btnHole > label.btnKey > div.shade,
button.toy.btnHole:hover > label.btnKey > div.shade {
	box-shadow: 0px 5px 3px 0px var(--pinkDFN);
	transition: box-shadow .5s !important;
}


input[name='toys']#redeem-WTF:checked ~ div#REDEEM > button.toy.btnHole > label.btnKey,
input[name='toys']#mint-WTF:checked ~ div#MINT > button.toy.btnHole > label.btnKey,
input[name='toys']#buy-WTF:checked ~ div#BUY > button.toy.btnHole > label.btnKey {
	background-color: var(--pinkDFN);
	transition: background-color .5s;
}

input[name='toys']#redeem-WTF:checked ~ div#REDEEM > button.toy.btnHole,,
input[name='toys']#mint-WTF:checked ~ div#MINT > button.toy.btnHole,
input[name='toys']#buy-WTF:checked ~ div#BUY > button.toy.btnHole,
button.toy.btnHole:active {
	margin-top: 4px;
	height: 41px;
}

button.toy.btnHole:active > label.btnKey > div.shade {
	transform: translateY(0);
}

input[name='toys']#redeem-WTF:checked ~ div#REDEEM > button.toy.btnHole > label.btnKey > div.shade > a.surface,
input[name='toys']#mint-WTF:checked ~ div#MINT > button.toy.btnHole > label.btnKey > div.shade > a.surface,
input[name='toys']#buy-WTF:checked ~ div#BUY > button.toy.btnHole > label.btnKey > div.shade > a.surface,
button.toy.btnHole:active > label.btnKey > div.shade > a.surface {
	margin-top: 0;
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 1);
}

input[name='toys']#redeem-WTF:checked ~ div#REDEEM > button.toy.btnHole > label.btnKey > div.shade > a.surface,
input[name='toys']#mint-WTF:checked ~ div#MINT > button.toy.btnHole > label.btnKey > div.shade > a.surface,
input[name='toys']#buy-WTF:checked ~ div#BUY > button.toy.btnHole > label.btnKey > div.shade > a.surface {
	background-color: var(--mintDFN);
	/*border-bottom: 2px solid black;*/
}




