/*
	
	All my life I've been chasing my dreams
	Got You! 

	 /$$$$$$$            /$$$$$$$$ /$$                                        
	| $$__  $$          | $$_____/|__/                                        
	| $$  \ $$  /$$$$$$ | $$       /$$ /$$$$$$$  /$$$$$$$   /$$$$$$  /$$   /$$
	| $$  | $$ /$$__  $$| $$$$$   | $$| $$__  $$| $$__  $$ /$$__  $$| $$  | $$
	| $$  | $$| $$$$$$$$| $$__/   | $$| $$  \ $$| $$  \ $$| $$$$$$$$| $$  | $$
	| $$  | $$| $$_____/| $$      | $$| $$  | $$| $$  | $$| $$_____/| $$  | $$
	| $$$$$$$/|  $$$$$$$| $$      | $$| $$  | $$| $$  | $$|  $$$$$$$|  $$$$$$$
	|_______/  \_______/|__/      |__/|__/  |__/|__/  |__/ \_______/ \____  $$
	                                                                 /$$  | $$
	                                                                |  $$$$$$/
	Designed with love, coded with passion                           \______/ 
		
			 ________  ___  ___  _______   ___  ___  __    ___  ___     
	b		|\   ____\|\  \|\  \|\  ___ \ |\  \|\  \|\  \ |\  \|\  \    
	y		\ \  \___|\ \  \\\  \ \   __/|\ \  \ \  \/  /|\ \  \\\  \   
			 \ \_____  \ \   __  \ \  \_|/_\ \  \ \   ___  \ \   __  \  
			  \|____|\  \ \  \ \  \ \  \_|\ \ \  \ \  \\ \  \ \  \ \  \ 
			    ____\_\  \ \__\ \__\ \_______\ \__\ \__\\ \__\ \__\ \__\
			   |\_________\|__|\|__|\|_______|\|__|\|__| \|__|\|__|\|__|
			   \|_________|                                             
                               

	 © 2023 DeFinney 

*/

/* ––––––––––––––––– */
/*      I N I T      */
/* ––––––––––––––––– */

@import 'b64.css';
@import 'mods/reset.css';
@import 'mods/keyframes.css';
@import 'mods/btns.css';
@import 'mods/desk.css';
@import 'mods/scene.css';
@import 'mods/home.css';
@import 'mods/wtf.css';
@import 'mods/rm.css';
@import 'mods/faqs.css';
/*@import 'mods/typewriter.css';*/
@import 'mods/resOptimizer.css';


:root {
	--creamDFN: #fff4e0;
	--pinkDFN: #fb99f9;
	--mintDFN: #94ffbb;

	--blueYARR: #B2BBE2;
	--retroYARR: #F4D6BE;

	--progressDFN: 16%;
	--initPadding: 34px;

	--mobScale: 2.3;
}

html, body {
	height: 100%;
}

input[type="checkbox"], input[type="radio"] {
	display:none;
}

body {

/*	background: linear-gradient(
				to top,
				var(--creamDFN), 100px,  
				var(--creamDFN),
				var(--pinkDFN)
				);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;*/
    background-color: var(--pinkDFN);
	/*background-color: var(--creamDFN);*/
}

